# Generate: node -e "console.log(require('crypto').randomBytes(32).toString('base64url'))"
KB_SECRET_KEY=change-me-to-a-random-string
KB_BASE_URL=https://kb.constantin.rocks
KB_DATA_DIR=data
KB_PORT=8000
